/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Remove Gemfile.lock to avoid problems with apps using this gem.
Gemfile.lock

# rspec failure tracking
.rspec-failures

# default test application
spec/decidim_dummy_app

# default development application
development_app

.byebug_history
